/* FULL PAGE */
.auth-wrapper {
  height: 100vh;
  display: flex;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.6s;
}

.auth-wrapper.login .auth-left {
  background: linear-gradient(135deg, #0f172a, #10b981);
}

.auth-wrapper.register .auth-left {
  background: linear-gradient(135deg, #0f172a, #38bdf8);
}

.auth-left h1 {
  font-size: 40px;
  transform: translateZ(30px);
}

.auth-left p {
  opacity: 0.8;
}

.auth-left button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.3s;
}

.auth-left button:hover {
  transform: scale(1.05);
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b0f1a;
}

/* GLASS CARD */
.glass-card {
  width: 350px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);

  box-shadow: 0 10px 40px rgba(0,0,0,0.5);

  transform: perspective(1000px) rotateY(0deg);
  transition: 0.5s;
}

/* 3D EFFECT */
.glass-card:hover {
  transform: perspective(1000px) rotateY(8deg) scale(1.02);
}

/* TITLE */
.glass-card h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/* INPUTS */
.glass-card input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;

  background: rgba(255,255,255,0.1);
  color: white;
  outline: none;
  transition: 0.3s;
}

.glass-card input:focus {
  transform: scale(1.03);
  background: rgba(255,255,255,0.2);
}

/* BUTTON */
.glass-card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: linear-gradient(90deg, #10b981, #38bdf8);
  color: white;
  font-weight: bold;

  transition: 0.3s;
}

.glass-card button:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .auth-wrapper {
    flex-direction: column;
  }
}/* PAGE BACKGROUND (LOGIN = VERT PISTACHE) */
